<!doctype html>
<html>
<head>
<title>The Great family</title>
<style>
body{
     background-color: whitesmoke;  

    }
 h2{
 	background: seagreen;
 	text-align: center;
 	color: white;
 	padding: 10px;
 }


</style>
</head>
<body>
<!--main navigation bar-->
<div align="center">
	<a href="#Home">Home</a>|
	<a href="#before-after">Before and After</a>|
	<a href="#freedom-fighters">Freedom Fighters</a>|
	<a href="#poltical-leader">Poltical leaders</a>|
	<a href="#business-leader">Business Leaders</a>|
	<a href="#sports-leaders">Sports Leaders</a>
</div>
    <!--Home section-->
	<div id="Home">
		<h1 align="center">The Great Family</h1>
        <hr> 
		<h2>Our Family</h2>
		<p align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<img src="images/deepak.jpg" width="580" height="350">
		<img  align="right" src="images/deepak12.jpg" width="580" height="350">
		<table width="100%">
			<tr>

				<th>Indian Style</th>
				<th>Indian Boy</th>
			</tr>
			
		</table>
       <br>

	</div>
	<!--india before and after-->
	<div id="before-after">
		<h2>India Before & After</h2>
		<p align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<iframe width="580" height="350" src="https://www.youtube.com/embed/L9rnkrg3toQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe align="right" width="580" height="350" src="https://www.youtube.com/embed/KSGNsXVXo8Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<table width="100%">
			<tr>
				<th>India Before</th>
				<th>India After</th>
			</tr>
		</table>
		<br>
	</div>
  <!-- indian freedom fighters-->
  <div id="freedom-fighters">
  	<h2>Indian Freedom Fighters</h2>
  	<p align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
     
     <img src="images/deepak1.jpg" width="330" height="200">
     <img src="images/deepak2.jpg" width="330" height="200">
     <img src="images/deepak3.jpg" width="330" height="200">
     <img src="images/deepak4.jpg" width="330" height="200">

     <table width="100%">
     	<tr>
     		<th>Deepak Singh</th>
     		<th>Deepak Rajput</th>
     		<th>Deepak Sagar</th>
     		<th>Suman Singh</th>
     	</tr>
     </table>
     <br>
 </div>
<!--indian poltical leaders-->
<div id="poltical-leader">
 
 <h2>Indian Poltical Leaders</h2>
 <p align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

 <img src="images/deepak5.jpg" width="330" height="200">	
 <img src="images/deepak6.jpg" width="330" height="200">	
 <img src="images/deepak7.jpg" width="330" height="200">	
 <img src="images/deepak8.jpg" width="330" height="200">

 <table width="100%">
 	<tr>
 		<th>Deepak Singh</th>
 		<th>Singh Deepak</th>
 		<th>Rajput Deepak</th>
 		<th>Suman Singh</th>
 	</tr>
 </table>	

<br>

</div>
<!--indian business leader-->
<div id="business-leader">
	<h2>Indian Business Leaders</h2>
	<p align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<img src="images/deepak9.jpg" width="330" height="250">
	<img src="images/deepak10.jpg" width="330" height="250">
	<img src="images/deepak11.jpg" width="330" height="250">
	<img src="images/deepak12.jpg" width="330" height="250">

	<table width="100%">
		<tr>
			<th>Rumi Singh</th>
			<th>Suman singh</th>
			<th>Puja singh</th>
			<th>Rajput Deepak</th>
		</tr>
	</table>
	<br>
</div>
<!--sports leaders-->
<div id="sports-leaders">
	<h2>Sports Leaders</h2>
	<p align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
     
     <img src="images/deepak13.jpg" width="330" height="250">
	<img src="images/deepak14.jpg" width="330" height="250">
	<img src="images/deepak15.jpg" width="330" height="250">
	<img src="images/deepak10.jpg" width="330" height="250">

	<table width="100%">
		<tr>
			<th>Deepak Singh</th>
			<th>Suman singh</th>
			<th>Prince singh</th>
			<th>Rajput Deepak</th>
		</tr>
	</table>
	<br>
   
</div>

<!--footer -->
<div id="main-footer">
	<h2>Copyright &copy;2019, The Great Family</h2>
	<p align="center">All Rights Reserved</p>
	<p align="center">Developed & Maintained by Deepak singh </p>
	<br>
</div>

<div align="center">
	<a href="#Home">Home</a>|
	<a href="#before-after">Before and After</a>|
	<a href="#freedom-fighters">Freedom Fighters</a>|
	<a href="#poltical-leader">Poltical leaders</a>|
	<a href="#business-leader">Business Leaders</a>|
	<a href="#sports-leaders">Sports Leaders</a>
</div>

</body>
</html>