<div class="row">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light"
            style="background-color: #0b4577 !important;height: 50px !important;padding: 0 0 0px 25px;">
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.png" alt="GMHA IMAGES"
                    style="width: 30px;height: 33px;border-radius: 20px;color: white" />
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"
                            style="color: white;font-size: 18px;font-family: revert;font-weight: 700;">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about"
                            style="color: white;font-size: 18px;font-family: revert;font-weight: 700;">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact"
                            style="color: white;font-size: 18px;font-family: revert;font-weight: 700;">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register"
                            style="color: white;font-size: 18px;font-family: revert;font-weight: 700;">SignUp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"
                            style="color: white;font-size: 18px;font-family: revert;font-weight: 700;">LogOut</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login"
                            style="color: white;font-size: 18px;font-family: revert;font-weight: 700;">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>